@import url(reset.css);

@import url('https://fonts.googleapis.com/css?family=Lora|Merriweather');
.headering {
	position: fixed;
	background-color: #00008B;
	background-size: cover;
	height: 150px;
	width: 1400px;

 font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 50px;
	color:#FFF8DC;
	word-spacing: 25px;
	    text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
                 #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
                 #cad5e2 5px 5px 0;

	text-align: center;
}

.HeadOne {
	position: static;
	font-size: 30px;
	text-align: center;
	margin-top: 5px;
}

.HeadTwo {
	font-size: 30px;
	text-align: center;
	margin-top: 5px;

}

.HeadThree {
	font-size: 30px;
	text-align: center;
	margin-top: 5px;
}

.TextOne {
	position: static;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.TextTwo {
	position: static;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.TextThree {
	position: static;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}


.blockOne {
	position: relative;
	border: 2px solid gray;
	height: 420px;
	width: 300px;
    top: 180px;
    left: 70px;
	display: inline-block;

	text-align: justify;
}

.blockTwo {
	position: relative;
	border: 2px solid gray;
	height: 420px;
	width: 300px;
	display: inline-block;
	top: 37px;
    left: 210px;

    text-align: justify;
}

 .blockThree {
	position: relative;
	border: 2px solid gray;
	height: 420px;
	width: 300px;
	display: inline-block;
	left:340px;
	top: 68px;

	text-align: justify;
}



.FooTer{
	position: static;
	margin-top: 70px;
	background-size: cover;
	height: 40px;
	background-color: #00008B;
    text-align: center;

	color:#FFF8DC;
	font-size: 30px;
	font-family: 'Lora', serif;
	font-weight: lighter; 

}

